*.bak
src/hdl/mk3/boards/cpu-16-max/mk3_16_max.out.sdc
src/hdl/mk3/boards/cpu-16-max/mk3_16_max.qsf.cmp
src/hdl/mk3/simulation/sim_asm/test_asm68k/boot68008_testbench_mos.bin
src/hdl/mk3/simulation/sim_asm/test_asm68k/boot68008_testbench_mos.lst
**/build/*.bin
*.lst
*.sublime-project
*.sublime-workspace
*~
*.gprj.user


src/hdl/mk3/shared/hdmi/greybox_tmp/cbx_args.txt
src/hdl/mk3/boards/cpu-16-tiny/cr_ie_info.json
src/hdl/mk3/boards/cpu-16-hdmitest/pll_hdmi.cnx

vunit_out/
work_pnr/
outflow/
work_pt/
work_syn/
**/impl/gwsynthesis/
**/impl/pnr/
**/impl/temp/

.lock

release/release/*
release/*.tgz

**/version.tmp

**/altair/dsim_work/**
**/.mdc/**
mdc_config.yml
**/mdc_ignore

src/hdl/modelC20K/boards/C20K/version.tag
src/hdl/modelC20K/boards/C20K816only/version.tag
src/hdl/modelC20K/boards/C20K816only/version_strings.vec
src/hdl/modelC20K/boards/C20K/version_strings.vec
