//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.11 Education
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Thu 08 17 16:03:10 2023


////////////////////////////////////////////////////////////////////////////
// On daughterboard
////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////
// Clock and RESET

IO_LOC "SUP_nRESET_i" T10;
IO_PORT "SUP_nRESET_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "CLK_27M_i" H11;
IO_PORT "CLK_27M_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;


////////////////////////////////////////////////////////////////////////////
// On Model-C motherboard
////////////////////////////////////////////////////////////////////////////


IO_LOC "CLK_48M_i" T7;
IO_PORT "CLK_48M_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;



// HDMI : TODO: check channel numbering/order RGB vs BGR
IO_LOC "HDMI_CK_p_o" G16,H15;
IO_PORT "HDMI_CK_p_o" PULL_MODE=NONE;
IO_LOC "HDMI_D0_p_o" H14,H16;
IO_PORT "HDMI_D0_p_o" PULL_MODE=NONE;
IO_LOC "HDMI_D1_p_o" J15,K16;
IO_PORT "HDMI_D1_p_o" PULL_MODE=NONE;
IO_LOC "HDMI_D2_p_o" K14,K15;
IO_PORT "HDMI_D2_p_o" PULL_MODE=NONE;

IO_LOC "HDMI_SCL_io" F16;
IO_PORT "HDMI_SCL_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "HDMI_SDA_io" F14;
IO_PORT "HDMI_SDA_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "HDMI_HPD_i" J11;
IO_PORT "HDMI_HPD_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "HDMI_CEC_io" L12;
IO_PORT "HDMI_CEC_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE;


IO_PORT "MEM_A_o[20]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_A_o[20]" M15;
IO_PORT "MEM_A_o[19]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_A_o[19]" L13;
IO_PORT "MEM_A_o[18]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_A_o[18]" M14;
IO_PORT "MEM_A_o[17]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_A_o[17]" K11;
IO_PORT "MEM_A_o[16]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_A_o[16]" F13;
IO_PORT "MEM_A_o[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_A_o[15]" K12;
IO_PORT "MEM_A_o[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_A_o[14]" G12;
IO_PORT "MEM_A_o[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_A_o[13]" K13;
IO_PORT "MEM_A_o[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_A_o[12]" T15;
IO_PORT "MEM_A_o[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_A_o[11]" J16;
IO_PORT "MEM_A_o[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_A_o[10]" H13;
IO_PORT "MEM_A_o[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_A_o[9]"  J14;
IO_PORT "MEM_A_o[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_A_o[8]"  J12;

IO_PORT "MEM_AD_io[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_AD_io[7]"  G14;
IO_PORT "MEM_AD_io[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_AD_io[6]"  H12;
IO_PORT "MEM_AD_io[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_AD_io[5]"  G15;
IO_PORT "MEM_AD_io[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_AD_io[4]"  G11;
IO_PORT "MEM_AD_io[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_AD_io[3]"  E15;
IO_PORT "MEM_AD_io[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_AD_io[2]"  D14;
IO_PORT "MEM_AD_io[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_AD_io[1]"  A15;
IO_PORT "MEM_AD_io[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_AD_io[0]"  B14;

IO_PORT "MEM_ALE_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_ALE_o" A14;
IO_PORT "MEM_nOE_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_nOE_o" E16;
IO_PORT "MEM_nWE_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_nWE_o" F15;
IO_PORT "MEM_FL_nCE_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_FL_nCE_o" C13;
IO_PORT "MEM_RAM_nCE_o[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_RAM_nCE_o[1]" D16;
IO_PORT "MEM_RAM_nCE_o[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "MEM_RAM_nCE_o[0]" E14;

IO_PORT "SND_L_o" IO_TYPE=LVCMOS15 PULL_MODE=NONE;
IO_LOC  "SND_L_o" E9;
IO_PORT "SND_R_o" IO_TYPE=LVCMOS15 PULL_MODE=NONE;
IO_LOC  "SND_R_o" E8;

IO_PORT "SYS_A_o[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_A_o[15]" C9;
IO_PORT "SYS_A_o[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_A_o[14]" A9;
IO_PORT "SYS_A_o[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_A_o[13]" N6;
IO_PORT "SYS_A_o[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_A_o[12]" F10;
IO_PORT "SYS_A_o[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_A_o[11]" N7;
IO_PORT "SYS_A_o[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_A_o[10]" D11;
IO_PORT "SYS_A_o[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_A_o[9]" N9;
IO_PORT "SYS_A_o[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_A_o[8]" D10;
IO_PORT "SYS_A_o[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_A_o[7]" R9;
IO_PORT "SYS_A_o[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_A_o[6]" N8;
IO_PORT "SYS_A_o[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_A_o[5]" R7;
IO_PORT "SYS_A_o[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_A_o[4]" L9;
IO_PORT "SYS_A_o[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_A_o[3]" P7;
IO_PORT "SYS_A_o[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_A_o[2]" M6;
IO_PORT "SYS_A_o[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_A_o[1]" L8;
IO_PORT "SYS_A_o[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_A_o[0]" T6;

IO_PORT "SYS_D_io[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_D_io[7]" R16;
IO_PORT "SYS_D_io[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_D_io[6]" P6;
IO_PORT "SYS_D_io[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_D_io[5]" P15;
IO_PORT "SYS_D_io[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_D_io[4]" R8;
IO_PORT "SYS_D_io[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_D_io[3]" P16;
IO_PORT "SYS_D_io[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_D_io[2]" T8;
IO_PORT "SYS_D_io[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_D_io[1]" N15;
IO_PORT "SYS_D_io[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SYS_D_io[0]" P8;

IO_PORT "SYS_BUF_D_nOE_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "SYS_BUF_D_nOE_o" N14;

IO_PORT "SYS_nRES_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "SYS_nRES_o" N16;
IO_PORT "SYS_RnW_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "SYS_RnW_io" L14;
IO_PORT "SYS_2MHzE_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "SYS_2MHzE_o" L16;
IO_PORT "SYS_1MHzE_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "SYS_1MHzE_o" T9;
IO_PORT "SYS_nPGFC_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "SYS_nPGFC_o" P9;
IO_PORT "SYS_nPGFD_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "SYS_nPGFD_o" P11;
IO_PORT "SYS_nPGFE_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "SYS_nPGFE_o" T11;

IO_PORT "SYS_nIRQ_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE OPEN_DRAIN=ON;
IO_LOC "SYS_nIRQ_i" R11;
IO_PORT "SYS_nNMI_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE OPEN_DRAIN=ON;
IO_LOC "SYS_nNMI_i" T12;

////////////////////////////////////////////////////////////////////////////
// CPU Control
////////////////////////////////////////////////////////////////////////////

IO_PORT "CPU_nVP_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "CPU_nVP_i" B13;
IO_PORT "CPU_E_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "CPU_E_i" C12;
IO_PORT "CPU_VPA_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "CPU_VPA_i" B12;
IO_PORT "CPU_VDA_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "CPU_VDA_i" A12;

IO_PORT "CPU_BE_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "CPU_BE_o" C11;
IO_PORT "CPU_nABORT_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "CPU_nABORT_o" B11;
IO_PORT "CPU_PHI2_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "CPU_PHI2_o" A11;
IO_PORT "CPU_RDY_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "CPU_RDY_o" C10;

////////////////////////////////////////////////////////////////////////////
// I2C Eeprom, display, extensions
////////////////////////////////////////////////////////////////////////////

IO_PORT "I2C_SDA_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "I2C_SDA_io" R12;
IO_PORT "I2C_SCL_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "I2C_SCL_io" P13;

////////////////////////////////////////////////////////////////////////////
// SDCARD on daughter board
////////////////////////////////////////////////////////////////////////////
IO_LOC  "SD_CS_o" N11;
IO_PORT "SD_CS_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SD_MOSI_o" R14;
IO_PORT "SD_MOSI_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SD_CLK_o" N10;
IO_PORT "SD_CLK_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SD_MISO_i" M8;
IO_PORT "SD_MISO_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC  "SD_DET_i" D15;
IO_PORT "SD_DET_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

////////////////////////////////////////////////////////////////////////////
// PAL / VGA video
////////////////////////////////////////////////////////////////////////////

IO_PORT "pal_r_o" IO_TYPE=LVCMOS15 PULL_MODE=NONE;
IO_LOC  "pal_r_o" C7;
IO_PORT "pal_g_o" IO_TYPE=LVCMOS15 PULL_MODE=NONE;
IO_LOC  "pal_g_o" D7;
IO_PORT "pal_b_o" IO_TYPE=LVCMOS15 PULL_MODE=NONE;
IO_LOC  "pal_b_o" T2;
IO_PORT "pal_s_o" IO_TYPE=LVCMOS15 PULL_MODE=NONE;
IO_LOC  "pal_s_o" T3;

////////////////////////////////////////////////////////////////////////////
// DDR on daughter board
////////////////////////////////////////////////////////////////////////////

IO_LOC "ddr_bank[2]" H5;
IO_PORT "ddr_bank[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_bank[1]" D3;
IO_PORT "ddr_bank[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_bank[0]" H4;
IO_PORT "ddr_bank[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[13]" C8;
IO_PORT "ddr_addr[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[12]" A3;
IO_PORT "ddr_addr[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[11]" B7;
IO_PORT "ddr_addr[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[10]" K3;
IO_PORT "ddr_addr[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[9]" F9;
IO_PORT "ddr_addr[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[8]" A5;
IO_PORT "ddr_addr[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[7]" D8;
IO_PORT "ddr_addr[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[6]" B1;
IO_PORT "ddr_addr[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[5]" E6;
IO_PORT "ddr_addr[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[4]" C4;
IO_PORT "ddr_addr[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[3]" F8;
IO_PORT "ddr_addr[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[2]" D6;
IO_PORT "ddr_addr[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[1]" A4;
IO_PORT "ddr_addr[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[0]" F7;
IO_PORT "ddr_addr[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_odt" R3;
IO_PORT "ddr_odt" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_cke" J2;
IO_PORT "ddr_cke" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_we" L2;
IO_PORT "ddr_we" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_cas" R6;
IO_PORT "ddr_cas" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_ras" R4;
IO_PORT "ddr_ras" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_reset_n" B9;
IO_PORT "ddr_reset_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_ck" J1,J3;
IO_PORT "ddr_ck" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dm[1]" K5;
IO_PORT "ddr_dm[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dm[0]" G1;
IO_PORT "ddr_dm[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[15]" M2;
IO_PORT "ddr_dq[15]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[14]" R1;
IO_PORT "ddr_dq[14]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[13]" H3;
IO_PORT "ddr_dq[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[12]" P4;
IO_PORT "ddr_dq[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[11]" L1;
IO_PORT "ddr_dq[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[10]" N2;
IO_PORT "ddr_dq[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[9]" K4;
IO_PORT "ddr_dq[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[8]" M3;
IO_PORT "ddr_dq[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[7]" B3;
IO_PORT "ddr_dq[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[6]" E1;
IO_PORT "ddr_dq[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[5]" C1;
IO_PORT "ddr_dq[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[4]" E2;
IO_PORT "ddr_dq[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[3]" F3;
IO_PORT "ddr_dq[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[2]" F4;
IO_PORT "ddr_dq[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[1]" F5;
IO_PORT "ddr_dq[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dq[0]" G5;
IO_PORT "ddr_dq[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "ddr_dqs[1]" J5,K6;
IO_PORT "ddr_dqs[1]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dqs[0]" G2,G3;
IO_PORT "ddr_dqs[0]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_cs" P5;
IO_PORT "ddr_cs" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;